* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Encode Sans Expanded', sans-serif; */
    font-family: "Source Sans Pro",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 62.50%; */
  }
/*************** NavBar ****************************** */
  .nav {
      background-color: transparent;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      position: sticky;
      top: 0;
      z-index: 10;

  }

  .scrollNav {
    background-color: #010606;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

  .navBarContainer {
    display: flex;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
  } 
  
  .navLogo {
    color:#ffffff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin-left: 2%; /* this was 70px before */
    font-weight: bold;
    text-decoration: none;
  }
   
  .mobileIcon {
      display: none;

  }

  .navMenu {
      display: flex;
      align-items: center;
      list-style: none;
      text-align: center;
      margin-right: -22px;
      position: absolute;
      left: 55%;

  }

  .navItem {
      height: 80px;
  }

  .navLinks {
      color: transparent;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0 1rem;
      height: 100%;
      cursor: pointer;
  }
  
  .navLinks.active {
      border-bottom: 3px solid #01bf71;
  }

  .navBtn {
      position: absolute;
      left: 80%;
      top: 20%;
      
  }

  .navBtn:hover .userIcon {
      color: #010606
  }

  .navBtnLink {
      border-radius: 50px;
      background-color: #010606;
      white-space: nowrap;
      padding: 10px 22px;
      color: #ffffff;
      font-size: 16px;
      outline: none;
      /* border: 2px solid #ffffff; */
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 200px; 
  }

  .navBtnLink:hover {   
    transition: all 0.2s ease-in-out;
    background-color: #FAD570;
    color: #0C0920;
    border: none;
  }

  /* *********************NavBarMobil ************ */


.navBarContainerMobil {
    background-color: #010606;
    display: flex;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
} 

.navLogoMobil {
  color:#ffffff;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 2%; 
  font-weight: bold;
  text-decoration: none;
}
 

.navLinksMobil {
    color: #010606;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}


  /* ********************************************* */
/*************** SideBar ****************************** */

.sideBarContainer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #010606;
    display: grid;
    align-items: center;
    left: 0;
    transition: 0.6s ease-in-out;
    top: -100%;
    opacity:0%;
}

.sideBarContainerOpen {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #010606;
    display: grid;
    align-items: center;
    left: 0;
    transition: 0.6s ease-in-out;
    top: 0%;
    opacity: 100%;
}

.sideBarIcon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.closeIcon {
    color: #ffffff;
    
}

.sideBarWrapper {
    color: #ffffff;
}

.sideBarMenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 80px);
    text-align: center;
}

.sideBarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    color: #ffffff;
    cursor: pointer;
}

.sideBarLink:hover {
    color: #FF810A;
    transition: 0.2s ease-in-out;
}

.sideBtnWrap {
    display: flex;
    justify-content: center;
}

.sideBarRoute {
    border-radius: 50px;
    background-color: #FF810A;
    white-space: nowrap;
    padding: 16px 64px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.sideBarRoute:hover {
    transition: all 0.2s ease-in-out;
    background-color: #FAD570;
    color: #0C0920;
}



/*************** heroSection ****************************** */
.heroContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 990px;
    z-index: 1;
}

.heroBG {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imageBG {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}

.heroContent {
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 44%;
    top: 25%;
    /* margin-left: 875px; */

}

.heroH1 {
    color: #000000;
    font-size: 3rem;
    text-align: center;
    margin-left: 260px;
}

.heroP {
    margin-top: 24px;
    color: #01bf71;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
}

.heroBtnWrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 284px;  
}

.button {
    border-radius: 50px;
    white-space: nowrap;
    padding: 12px 30px; 
    font-size: 20px; 
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0ms.2s ease-in-out;
    border: none;
}
.arrowForward {
    margin-left: 8px;
    font-size: 20px;
}
.arrowRight {
    margin-left: 8px;
    font-size: 20px;
}

/*************** VideoSection ****************************** */
.infoContainer {
    color:#ffffff;
    margin-top: 3%;
    height: 650px;
    border-bottom: 2px solid #eeedec;
}

.infoWrapper {
    height: 100%;
}

.infoRow {
    display: grid;
    width: 100%;
    height: 650px;
    grid-template: 600px / 40% 60%;
    grid-template-areas: "title video video";
    gap: 5px;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video {
    grid-area: "video";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square {
    width: 600px;
    height: 400px;
    background-color: #0C0920;
    margin-left: 20%;
    margin-top: 13%;
}

.textWrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
    margin-left: 10%;
    margin-top: 10%;
}

.topLine {
    color: #01bf71;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.heading {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    color: #010606 ;
}
.subTitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #010606
}

/* .btnWrap {
    display: flex;
    justify-content: flex-start;
} */

.videoBtnWrap {
    margin-top: 4%;
}


.videoPlayer {
    width: 85%;
    margin: 0 0 10px 0;
    padding-right: 0;
    height: 100%;
    background-color: #ffffff;
}

/*************** hiwSection ****************************** */
.hiwContainer {
    max-width: 100%;
    height: 800px;
    background-color: #eeeeee;
}

.hiwH1 {
    font-size: 2.5rem;
    margin-left: 4%;
    padding-top: 5%;
    
}

.hiwWrapper {
    max-width: 1000px;
    margin-top: 5%;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(6, 1fr ) ;
    align-items: center;
    gap: 16px;
    padding: 0 27px;
}

.hiwCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #e0e0e0;
    max-height: 390px;
    padding: 30px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out; */
}

.hiwCard:hover {
    transform: scale(1.06);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.hiwInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.hiwInfoH2 {
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 600;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #010606;
}

.hiwInfoP {
    font-size: 18px;
    text-align: center;
}

.hiwBtnWrap {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 284px;
}

/* *********** DataSection ******************************* */

.dataContainer {
    background-color: #010606;
    color:#ffffff;
    height: 700px;
    border-bottom: 2px solid #eeedec;
    
}

.dataWrapper {
    width: 100%;
    height: 100%;
    background-color: #01bf71;
    height: 100%;
}

.dataRow {
    display: grid;
    grid-template: 700px / 50% 50%;
    grid-template-areas: "text data data";
    width: 100%;
    height: 100%;
    gap: 5px;
}

.dataText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: "text";
}
.dataFormWrapper {
    grid-area: "data";
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* .infoRow {
    display: grid;
    width: 100%;
    height: 850px;
    grid-template: 530px / 40% 60%;
    grid-template-areas: "title video video";
    gap: 5px;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video {
    grid-area: "video";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


/* *************** Responsive design ***********************/
/* ********  Desktop Responsive Design ******************* */

@media (max-width:1920px) and (min-width:1536px){
    
    .navMenu{
        left: 60%;
    }
    .navBtn {
        left: 87%;
    }
    .navMenuMobil{
        left: 50%;
    }
    .navBtnMobil {
        left: 87%;
    }
    .heroContent{
        left: 50%;
        top: 30%;
        width: 45%;
    }
    .heroH1{
        font-size: 4rem;
    }
    .infoWrapper {
        height: 100%;
    }

    .hiwWrapper {
        max-width: 100%; 
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        align-items: center;
        gap: 16px;
        padding: 0 40px;
    }
    
    .hiwBtnWrap {
        margin-top: 70px;
    }
    
}


@media (max-width:1536px) and (min-width:1366px){
    
    .navMenu{
        left: 55%;
    }
    .navBtn {
        left: 85%;
    }
    .navMenuMobil{
        left: 45%;
    }
    .navBtnMobil {
        left: 85%;
    }
    .heroContent{
        left: 40%;
        top: 30%;
        width: 60%;
    }
    .heroH1{
        font-size: 3.5rem;
    }
    .infoWrapper {
        height: 100%;
    }

    .videoBtnWrap {
        margin-top: 1%;
    }
    .hiwWrapper {
        max-width: 100%; 
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        align-items: center;
        gap: 16px;
        padding: 0 20px;
    }
    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 70px;
    }
 
}

@media (max-width:1366px) and (min-width:1280px){
    
    .navMenu{
        left: 50%;
    }
    .navBtn {
        left: 80%;
    }
    .navMobil{
        left: 40%;
    }
    .navBtnMobil {
        left: 80%;
    }
    .heroH1{
        font-size: 3rem;
    }
    .infoWrapper {
        height: 100%;
    }
    .videoBtnWrap {
        margin-top: 2%;
    }
    .hiwWrapper {
        max-width: 100%; 
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        align-items: center;
        gap: 16px;
        padding: 0 45px;
    }
    .hiwBtnWrap {
        margin-top: 100px;
        margin-left: 3%;
    }
}


@media (max-width:1280px) and (min-width:1098px){
    .navMenu{
        left: 50%;
    }
    .navMobil{
        left: 33%;
    }

    .heroContent{
        left: 37%;
        top: 30%;
    }
    .heroH1{
        font-size: 3rem;
    }
    .infoWrapper {
        height: 100%;
    }
 
    .hiwWrapper {
        max-width: 100%; 
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        align-items: center;
        gap: 16px;
        padding: 0 45px;
    }
    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 100px;
    }
    
    
}

/* ********  Tablets Responsive Design ******************* */

@media (max-width:1098px) and (min-width: 768px){
    .navMobil {
        background-color: #ffffff;
        height: 179px;
        font-size: 1rem;
        position: sticky;
        top: 0;
        z-index: 10;
    
    }
 
   
    .mobileIconMobil {
        display: block;
        position: absolute;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffffff;
        margin-top: 5px;
        width: 103px ;
        left: 95%;
        top: 7px;
        height: 28px;

    }

    .faUserIcon {
        position: absolute;
        left: 15px;

    }
    .faBarsIcon {
        position: absolute;
        left: 67%;
    }

    
    .navMenuButtonsContainer {
        display: grid;
        gap: 10px;
        grid-template: 100% / repeat(3, 1fr); 
        grid-template-areas: "navMenuButton navMenuButton navMenuButton";   
        width: 100%;
        height: 50%;
        margin-top: 1% ;
        background-color: #ffffff;
        border-bottom: 2px solid #eeedec;
    }
    .navMenuButton {
        grid-area: "naMenuButton1";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navLinksMobil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
    }

    .iconMobilContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .heroContent{
        left: 33%;
        top: 40%;
    }
 

    .heroContainerMobil {
        background-color: #FAD570;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 800px;
    }
    
    .heroContentMobil {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:baseline;
        width: 100%;
        background-color: #ffffff;
        height: 30%;

    }
    .heroH1Mobil {
        font-size: 3rem;
        font-family: 'Blinker', sans-serif;
        font-weight: 700;
        margin-left: 20px;
    }
    .heroPMobil {
        font-size: 20px;
        margin-left: 20px;
    }

    .heroBGMobil {
        width: 100%;
        background-color: red;
        height: 70%;
    }
    .infoContainer {
        height: 1000px;
    }

    .infoRowMobil {
        display: grid;
        width: 100%;
        height: 850px;
        grid-template: 400px 550px / 100%;
        grid-template-areas: "title" 
                            "video" ;
        gap: 5px;
        
    }

    .textWrapper {
        margin-top: 2%;
        margin-left: 15%;
    }

    .title {
        display: flex;
        justify-content: flex-start;
    }

    .video {
        display: flex;
        justify-content: flex-start;
    }

    .videoPlayer {
        width: 100%;
        padding-right: 0;
        height: 434px;
        
    }

    .videoBtnWrap {
        margin-top: 3%;
    }

    .hiwContainer {
        height: 1600px;
    }
    .hiwWrapper {
        margin: 5% auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 16px;
        padding: 0 27px;
    }
    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 100px;
    }


}


@media (max-width:768px) and (min-width: 560px){

    .navMenuMobil {
        display: none;
    } 
    .navBtnMobil {
        display: none;
    }
   
 
    .navMobil {
        background-color: #ffffff;
        height: 179px;
        font-size: 1rem;
        position: sticky;
        top: 0;
        z-index: 10;
    
    }
    
    .mobileIconMobil {
        display: block;
        position: absolute;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffffff;
        margin-top: 5px;
        width: 103px ;
        left: 95%;
        top: 7px;
        height: 28px;

    }
    .faUserIcon {
        position: absolute;
        left: 15px;

    }
    .faBarsIcon {
        position: absolute;
        left: 67%;
    }

    .navMenuButtonsContainer {
        display: grid;
        gap: 10px;
        grid-template: 100% / repeat(3, 1fr); 
        grid-template-areas: "navMenuButton navMenuButton navMenuButton";   
        width: 100%;
        height: 50%;
        margin-top: 1% ;
        background-color: #ffffff;
        border-bottom: 2px solid #eeedec;
    }
    .navMenuButton {
        grid-area: "naMenuButton1";
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navLinksMobil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
    }

    .iconMobilContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
   
    
 
    .heroContainerMobil {
        background-color: #FAD570;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 800px;
    }
    .heroContentMobil {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:baseline;
        width: 100%;
        background-color: #ffffff;
        height: 30%;

    }
    .heroH1Mobil {
        font-size: 3rem;
        font-family: 'Blinker', sans-serif;
        font-weight: 700;
        margin-left: 20px;
    }
    .heroPMobil {
        font-size: 20px;
        margin-left: 20px;
    }

    .heroBGMobil {
        width: 100%;
        background-color: red;
        height: 70%;
    }
    .heroBtnWrapperMobil {
        margin-left: 2%;
    }

    .infoContainer {
        height: 1000px;
    }

    
    .infoRowMobil {
        display: grid;
        width: 100%;
        height: 850px;
        grid-template: 420px 500px / 100%;
        grid-template-areas: "title" 
                            "video" ;
        gap: 5px;
        
    }
    
    .textWrapper {
        margin-top: 10%;
        margin-left: 5%;
    }
    .title {
        display: flex;
        justify-content: flex-start;
    }

    .videoPlayer {
        width: 100%;
        padding-right: 0;
        height: 400px;
    }

    .videoBtnWrap {
        margin-top: 5%;
    }
    
    .hiwContainer {
        height: 2300px;
    }

    .hiwWrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 16px;
        padding: 0 27px;
    }
    .hiwCard {
        justify-self: center;
        max-width: 65%;
    }
    
    .hiwCard:hover {
        transform:none;
        transition: none;
        cursor: pointer;
    }
    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 50px;
    }

}
/* ********  Phones Responsive Design ******************* */
@media (max-width:560px) and (min-width: 480px){
 
    .navMenuMobil {
        display: none;
    } 
    .navBtnMobil {
        display: none;
    }

    

    .navMobil {
        background-color: #ffffff;
        height: 220px;
        font-size: 1rem;
        position: sticky;
        top: 0;
        z-index: 10;
    
    }

    .mobileIconMobil {
        display: block;
        position: absolute;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffffff;
        margin-top: 5px;
        width: 103px ;
        left: 95%;
        top: 7px;
        height: 28px;

    }

    .faUserIcon {
        position: absolute;
        left: 15px;

    }
    .faBarsIcon {
        position: absolute;
        left: 67%;
    }

    .navMenuButtonsContainer {
        display: grid;
        gap: 10px;
        grid-template: 100% / repeat(3, 20%); 
        grid-template-areas: "navMenuButton navMenuButton navMenuButton";   
        width: 100%;
        height: 62%;
        margin-top: 1% ;
        background-color: #ffffff;
        border-bottom: 2px solid #eeedec;
    }
    .navMenuButton {
        grid-area: "naMenuButton1";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navLinksMobil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 5%;
    }

    .iconMobilContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .faIcon {
        font-size: 18px;
    }
   
    .heroContainerMobil {
        height: 645px;
    }
    .heroContentMobil {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:baseline;
        width: 100%;
        background-color: #ffffff;
        height: 32%;
        font-family: 'Blinker', sans-serif;
    }
    .heroH1Mobil {
        font-size: 2.6rem;
        font-family: inherit;
        margin-left: 20px;
    }
    .heroPMobil {
        font-size: 20px;
        margin-left: 20px;
        font-family: inherit;
    }

    .heroBGMobil {
        width: 100%;
        background-color: red;
        height: 70%;
    }
    

    .heroBtnWrapperMobil {
        margin-left: 2%;
    }

    .infoContainer {
        height: 820px;
    }

    
    .infoRowMobil {
        display: grid;
        width: 100%;
        height: 850px;
        grid-template: 380px 368px / 100%;
        grid-template-areas: "title" 
                            "video" ;
        gap: 5px;
        
    }
    
    .textWrapper {
        margin-top: 15%;
        margin-left: 5%;
    }
    
    .title {
        display: flex;
        justify-content: flex-start;
    }

    .videoPlayer {
        width: 85%;
        padding-right: 0;
        height: 265px;
    }

    .videoBtnWrap {
        margin-top: 7%;
    }

    .hiwContainer {
        height: 2300px;
    }

    .hiwWrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 16px;
        padding: 0 27px;
    }
    .hiwCard {
        justify-self: center;
        max-width: 75%;
    }

    .hiwCard:hover {
        transform:none;
        transition: none;
        cursor: pointer;
    }
    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 50px;
    }

}

@media (max-width:480px) and (min-width: 414px){

    .navMenuMobil {
        display: none;
    } 
    .navBtnMobil {
        display: none;
    }
   
    .navMobil {
        background-color: #ffffff;
        height: 220px;
        font-size: 1rem;
        position: sticky;
        top: 0;
        z-index: 10;
    
    }

    .mobileIconMobil {
        display: block;
        position: absolute;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffffff;
        margin-top: 5px;
        width: 103px ;
        left: 95%;
        top: 7px;
        height: 28px;

    }

    .faUserIcon {
        position: absolute;
        left: 15px;

    }
    .faBarsIcon {
        position: absolute;
        left: 67%;
    }

    .navMenuButtonsContainer {
        display: grid;
        gap: 10px;
        grid-template: 100% / repeat(3, 25%); 
        grid-template-areas: "navMenuButton navMenuButton navMenuButton";   
        width: 100%;
        height: 62%;
        margin-top: 1% ;
        background-color: #ffffff;
        border-bottom: 2px solid #eeedec;
    }
    .navMenuButton {
        grid-area: "naMenuButton1";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navLinksMobil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 5%;
    }

    .iconMobilContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .faIcon {
        font-size: 18px;
    }
    .heroContainerMobil {
        height: 645px;
    }

    .heroContentMobil {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:baseline;
        width: 100%;
        background-color: #ffffff;
        height: 32%;
        font-family: 'Blinker', sans-serif;
    }
    .heroH1Mobil {
        font-size: 2.2rem;
        font-family: inherit;
        margin-left: 20px;
    }
    .heroPMobil {
        font-size: 1rem;
        margin-left: 20px;
        font-family: inherit;
    }

    .heroBGMobil {
        width: 100%;
        background-color: red;
        height: 70%;
    }
  
    .heroBtnWrapperMobil {
        margin-left: 2%;
    }

    .infoContainer {
        height: 765px;
    }


    .infoRowMobil {
        display: grid;
        width: 100%;
        height: 850px;
        grid-template: 345px 365px / 100%;
        grid-template-areas: "title" 
                            "video" ;
        gap: 5px;
        
    }
    
    .textWrapper {
        margin-top: 20%;
        margin-left: 3%;
    }
    
    .title {
        display: flex;
        justify-content: flex-start;
    }

    .videoPlayer {
        width: 100%;
        padding-right: 0;
        height: 265px;
    }

    .videoBtnWrap {
        margin-top: 7%;
    }
    
    .hiwContainer {
        height: 2300px;
    }
    
    .hiwWrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 16px;
        padding: 0 27px;
    }
    
    .hiwCard {
        max-width: 100%;
    }
    
    .hiwCard:hover {
        transform:none;
        transition: none;
        cursor: pointer;
    }

    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 70px;
    }
}

@media (max-width:414px) and (min-width: 360px){
  
    .navMenuMobil {
        display: none;
    } 
    .navBtnMobil {
        display: none;
    }


    .navMobil {
        background-color: #ffffff;
        height: 220px;
        font-size: 1rem;
        position: sticky;
        top: 0;
        z-index: 10;
    
    }

    .mobileIconMobil {
        display: block;
        position: absolute;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffffff;
        margin-top: 5px;
        width: 103px ;
        left: 95%;
        top: 7px;
        height: 28px;

    }

    .faUserIcon {
        position: absolute;
        left: 15px;

    }
    .faBarsIcon {
        position: absolute;
        left: 67%;
    }

    .navMenuButtonsContainer {
        display: grid;
        gap: 10px;
        grid-template: 100% / repeat(3, 25%); 
        grid-template-areas: "navMenuButton navMenuButton navMenuButton";   
        width: 100%;
        height: 62%;
        margin-top: 1% ;
        background-color: #ffffff;
        border-bottom: 2px solid #eeedec;
    }
    .navMenuButton {
        grid-area: "naMenuButton1";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navLinksMobil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 5%;
    }

    .iconMobilContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    
    }

    .faIcon {
        font-size: 20px;
    }
     
    .heroContainerMobil {
        height: 645px;
    }

    .heroContentMobil {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:baseline;
        width: 100%;
        background-color: #ffffff;
        height: 32%;
        font-family: 'Blinker', sans-serif;
    }
    .heroH1Mobil {
        font-size: 1.9rem;
        font-family: inherit;
        margin-left: 20px;
    }
    .heroPMobil {
        font-size: 1rem;
        margin-left: 20px;
        font-family: inherit;
    }

    .heroBGMobil {
        width: 100%;
        background-color: red;
        height: 70%;
    }

    .heroBtnWrapperMobil {
        margin-left: 2%;
    }

    .infoContainer {
        height: 820px;
    }

    .infoRowMobil {
        display: grid;
        width: 100%;
        height: 850px;
        grid-template: 445px 330px / 100%;
        grid-template-areas: "title" 
                            "video" ;
        gap: 5px;
        
    }
    
    .textWrapper {
        margin-top: 15%;
        margin-left: 3%;
    }
    
    .title {
        display: flex;
        justify-content: flex-start;
    }

    .videoPlayer {
        width: 98%;
        padding-right: 0;
        height: 265px;
    }
    .btnWrap {
        margin-top: 45px;
    }

    .hiwContainer {
        height: 2300px;
    }

    .hiwWrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 16px;
        padding: 0 27px;
    }
    .hiwCard:hover {
        transform:none;
        transition: none;
        cursor: pointer;
    }
    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 50px;
    }
}

@media (max-width: 360px) and (min-width: 320px){
  
    .navMenuMobil {
        display: none;
    } 
    .navBtnMobil {
        display: none;
    }

    .navMobil {
        background-color: #ffffff;
        height: 220px;
        font-size: 1rem;
        position: sticky;
        top: 0;
        z-index: 10;
    
    }

    .mobileIconMobil {
        display: block;
        position: absolute;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffffff;
        margin-top: 5px;
        width: 103px ;
        left: 95%;
        top: 7px;
        height: 28px;

    }

    .faUserIcon {
        position: absolute;
        left: 15px;

    }
    .faBarsIcon {
        position: absolute;
        left: 67%;
    }

    .navMenuButtonsContainer {
        display: grid;
        gap: 10px;
        grid-template: 100% / repeat(3, 25%); 
        grid-template-areas: "navMenuButton navMenuButton navMenuButton";   
        width: 100%;
        height: 62%;
        margin-top: 1% ;
        background-color: #ffffff;
        border-bottom: 2px solid #eeedec;
    }
    .navMenuButton {
        grid-area: "naMenuButton1";
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navLinksMobil {
        font-size: 14px;
        font-weight: 600;
    }
    .navLinksMobil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 5%;
    }

    .iconMobilContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
     
    .heroContainerMobil {
        height: 840px;
    }
    .heroContentMobil {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items:baseline;
        width: 100%;
        background-color: #ffffff;
        height: 32%;
        font-family: 'Blinker', sans-serif;
    }
    .heroH1Mobil {
        font-size: 1.6rem;
        font-family: inherit;
        margin-left: 20px;
    }
    .heroPMobil {
        font-size: 0.9rem;
        margin-left: 20px;
        font-family: inherit;
    }

    .heroBGMobil {
        width: 100%;
        background-color: red;
        height: 70%;
    }

    .heroBtnWrapperMobil {
        margin-left: 2%;
    }
    
    .infoContainer {
        height: 686px;
    }

    .infoRowMobil {
        display: grid;
        width: 100%;
        height: 850px;
        grid-template: 335px 288px / 100%;
        grid-template-areas: "title" 
                            "video" ;
        gap: 5px;
        
    }
    
    .textWrapper {
        margin-top: 15%;
        margin-left: 3%;
    }
    
    .title {
        display: flex;
        justify-content: flex-start;
    }

    .heading {
        font-size: 1.6rem;
    }

    .videoPlayer {
        width: 98%;
        padding-right: 0;
        height: 265px;
    }
    .btnWrap {
        margin-top: 30px;
    }

    .hiwContainer {
        height: 2300px;
    }

    .hiwWrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 16px;
        padding: 0 27px;
    }
    .hiwCard:hover {
        transform:none;
        transition: none;
        cursor: pointer;
    }
    .hiwBtnWrap {
        margin-left: 3%;
        margin-top: 50px;
    }
}








