* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
    /* font-size: 62.50%; */
  }
/*************** NavBar ****************************** */
  .nav {
      background-color: #0C0920;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      position: sticky;
      top: 0;
      z-index: 10;

  }

  .navBarContainer {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      padding: 0 24px;
      max-width: 1100px;

  }
  
  .navLogo {
    color:#ffffff;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
  }
   
  .mobileIcon {
      display: none;

  }

  .navMenu {
      display: flex;
      align-items: center;
      list-style: none;
      text-align: center;
      margin-right: -22px;
  }

  .navItem {
      height: 80px;
  }

  .navLinks {
      color: #ffffff;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0 1rem;
      height: 100%;
      cursor: pointer;
  }
  
  .navLinks.active {
      border-bottom: 3px solid #01bf71;
  }

  .navBtn {
      display: flex;
      align-items: center;
  }

  .navBtnLink {
      border-radius: 50px;
      background-color: #FF810A;
      white-space: nowrap;
      padding: 10px 22px;
      color: #0C0920;
      font-size: 16px;
      outline: none;
      border: none;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
  }

  .navBtnLink:hover {   
    transition: all 0.2s ease-in-out;
    background-color: #FAD570;
    color: #0C0920;
  }

/**************** Media Queries NavBar ********************************/
@media screen and (max-width:960px){
    .nav {
        transition: 0.8s all ease;       
    }
}

@media screen and (max-width:768px) {
    .mobileIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffffff;
    }
    .navMenu {
        display: none;
    } 
    .navBtn {
        display: none;
    }
}

/*************** SideBar ****************************** */

.sideBarContainer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #0C0920;
    display: grid;
    align-items: center;
    left: 0;
    transition: 0.3s ease-in-out;
    top: -100%;
    opacity:0%;
}

.sideBarContainerOpen {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #0C0920;
    display: grid;
    align-items: center;
    left: 0;
    transition: 0.3s ease-in-out;
    top: 0%;
    opacity: 100%;
}

.sideBarIcon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.closeIcon {
    color: #ffffff;
    
}

.sideBarWrapper {
    color: #ffffff;
}

.sideBarMenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 80px);
    text-align: center;
}

.sideBarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    color: #ffffff;
    cursor: pointer;
}

.sideBarLink:hover {
    color: #FF810A;
    transition: 0.2s ease-in-out;
}

.sideBtnWrap {
    display: flex;
    justify-content: center;
}

.sideBarRoute {
    border-radius: 50px;
    background-color: #FF810A;
    white-space: nowrap;
    padding: 16px 64px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.sideBarRoute:hover {
    transition: all 0.2s ease-in-out;
    background-color: #FAD570;
    color: #0C0920;
}



/**************** Media Queries SideBar ********************************/

@media screen and (max-width: 480px){
    .sideBarMenu {
        grid-template-rows: repeat(6, 60px);
    }
    
}

/*************** heroSection ****************************** */
.heroContainer {
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;
}

.heroBG {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoBG {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}

.heroContent {
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heroH1 {
    color: #ffffff;
    font-size: 88px;
    text-align: center;
}

.heroP {
    margin-top: 24px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
}

.heroBtnWrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.button {
    border-radius: 50px;
    white-space: nowrap;
    padding: 12px 30px; 
    font-size: 20px; 
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0ms.2s ease-in-out;
    border: none;
}
.arrowForward {
    margin-left: 8px;
    font-size: 20px;
}
.arrowRight {
    margin-left: 8px;
    font-size: 20px;
}

/* .button:hover{
    transition: all 0.1s ease-in-out;
    background: #ffffff;
} */



/**************** Media Queries heroSection ********************************/

@media screen and (max-width: 768px){
    .heroH1{
        font-size: 40px;
    }

    .heroP {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px){
    .heroH1{
        font-size: 32px;
    }
    .heroP {
        font-size: 18px;
    }
}
