    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    } 

    body {
        font-size: 1.6rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
    }
    html {
        font-size: 62.5%;
    } 


   
  /* ***************************************** */

  .root {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .NavBar {
      width: 100%;
      background-color: black;
      color: #ffffff;
      height: 85px;
  }

  .NavBar__links {
      list-style: none;
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
  }

  .NavBar__link {
    margin-left: 6rem;
  }

  /* .Nav__links {
    height: 100%;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    padding: 0 0.75rem;
  } */
  /* .Nav__link { */
    /* text-decoration: none; */
    /* color: #22292f; */
    /* color: #ffffff; */
  /* } */
  /* .Nav__link-push {
    margin-left: auto;
  }
  .Nav__link-margin-left { */
    /* padding-left: 0.75rem; */
    /* padding-left: 3rem;
  } */

  .NiceMessage_Container {
    border-width: 1px;
    position: fixed;
    z-index: 50;
    background-color: #fcebea;
    border-color: green;
    margin-top: 4rem;
    width: 100%;
    color: green;
    border-radius: 0.25rem;
  }
  .Error__inner {
    -webkit-align-items: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    max-width: 50rem;
    margin-right: auto;
    left: 50%;
  }
  .Nice__inner {
    -webkit-align-items: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    max-width: 50rem;
    margin-right: auto;
    left: 50%;
  }

  .block {
    display: block;
  }

  .ErrorContainer {
    border-width: 1px;
    position: fixed;
    z-index: 50;
    background-color: #fcebea;
    border-color: #ef5753;
    margin-top: 4rem;
    width: 100%;
    color: #cc1f1a;
    border-radius: 0.25rem;
  }

  .Error__inner {
    -webkit-align-items: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    max-width: 50rem;
    margin-right: auto;
    left: 50%;
  }

  .Error__button,
  .Error__inner {
    display: -webkit-flex;
    display: flex;
    margin-left: auto;
  }
  .Error__button {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Error__icon {
    color: #e3342f;
  }
  .Error__icon:hover {
    color: #cc1f1a;
  }

  .Main {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: row;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    align-items: center;
  }
  .Main--center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .Form__field {
    font-size: 0.875rem;
    background-color: #f8fafc;
    border-color: #dae1e7;
    border-width: 1px;
    border-radius: 0.125rem;
    padding: 0.5rem 0.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .Form__submit {
    display: block;
    color: #fff;
    background-color: #3490dc;
    text-align: center;
    border-radius: 0.25rem;
    margin: 0.5rem auto 1rem;
    padding: 0.5rem 1rem;
  }

  .Signup {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 60%;
  }

  .FormContainer {
    height: 100%;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-width: 1px;
    border-color: #dae1e7;
    padding: 12.7rem 2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .video{
    width: 60%;
    height: 550px;
    background-color: black;  
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 755px;
    background-color: black;
    margin-top: 3%;
    
  }
  .video-container {
      width: 100%;
      height: 717px;
      background-color: #cc1f1a;

  }
  .video-container video {
    width: 100%;
    height: 655px;

}

.videoPlayer {
    width:100%;
    height: 100%;
    background-color: #2EC4B6;
    border-color: 8px solid black;
}